.App-header {
  background-color:#4D81B7;
  color:white;
  font-size:22px;
  padding:15px;
}
.main {
  border:1px solid black;
  width:960px;
  text-align:center;
  margin:auto;
  margin-top:100px;
  padding:60px;
  height:400px;
}
#shoppingList {
  background-color:#FAFAFA;;
  padding:14px;
  font-weight: 600;
  margin-left:20px;
}

/* Modal Styles */
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root .MuiOutlinedInput-root {
  margin-top:10px;
}
.MuiBox-root{
  padding:0 !important;
}
.MuiFormControl-root {
  width:100%;
}
#modalContent {
  width:80%;
  margin:auto;
}
.shoppingListIsEmpty {
  margin-bottom:20px;
}
#addAnItem {
  margin:20px 0 20px 0;
}
#addYourNewItemBelow {
  margin-bottom:20px;
}
.itemList {
  margin-top:40px;
}
.item {
  float:left;
  width:100%;
  margin-top:25px;
  padding:15px;
  border:1px solid gray;
}
.item .itemCheckbox {
  width:10%;
  float:left;
}
.item .itemName {
  width:20%;
  font-weight:700;
  margin-bottom:5px;
}
.item .itemName.completed {
  text-decoration:line-through;
  color:#4D81B7;
}
.item .description {
  text-align: left;
}
.item .description.completed {
  text-decoration:line-through;
}
.item .itemNameDescription {
  float:left;
  width:20%;
  margin-right:300px;
}
.item .deleteItem, .item .editItem {
  float:right;
  margin-right:13px;
  margin-top:7px;
  cursor:pointer;
}
.addItemButton {
  float:right;
}

/* Modal Styles */
.modalCancelButton {
  float:left;
}
.cancelAddTask {
  margin-left:140px;
  float:right;
  margin:30px 0 30px 0;
}
#how-many-select {
  margin-top:10px;
  width:100%;
}
.MuiInputBase-root {
  width:100%;
  margin-top:20px;
}

.deleteItemHeader {
  margin-top:70px;
}